extends layout

block content
  h1= title

  if errors 
    each error in errors 
      p #{error}

  if currentUser 
    p Logged in as #{currentUser.username}
    form(action="/" method="POST")
      label(for="title") Title:
      input(type="text" name="title" id="title" minlength="3" maxlength="50" required)

      label(for="text") Text: 
      textarea(name="text" id="text" minlength="1" required)

      button(type="submit") Post Message
  else 
    a(href="/signup") Sign Up 
    br
    a(href="/login") Log In 
    br

  a(href="/joinclub") Get Membership 

  if currentUser && member
    each message in messages 
      p(style={color:'red', fontSize: '15px'}) Title: #{message.title}
      p Message: #{message.text}  
      p Author: #{message.author}
      p Date: #{message.timestamp}
      br
  else if !currentUser && !member
    each message in messages  
      p Title: #{message.title}
      p Message: #{message.text}  
      p Author: Members Only
      p Date: Members Only
      br
      